[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mkdocs-material = "==9.5.39"
yamllint = "==1.35.1"
yamllint-junit  = "==0.10.1"

[requires]
python_version = "3.12"
