[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mkdocs-material = "==9.5.22"
pygithub = "==2.3.0"
requests = "==2.31.0"

[requires]
python_version = "3.12"
