---
name: Linters

"on":
  pull_request:

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
      pull-requests: write

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4.1.5

      - name: Set Up pnpm standalone
        uses: pnpm/action-setup@v3.0.0
        with:
          standalone: true

      - name: Set up Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml

      - name: Get dependencies
        run: pnpm i

      - name: Run linters
        uses: wearerequired/lint-action@v2.3.0
        with:
          eslint: true
          prettier: true
          continue_on_error: false
